<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.name, user %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
